*{
    font-family:"Trebuchet MS", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://images.hdqwalls.com/wallpapers/moon-fox-galaxy-4k-79.jpg);
    /*background-image: url(https://images.wallpapersden.com/image/download/blue-galaxy-space-digital_bGhtbGeUmZqaraWkpJRobWllrWdma2U.jpg);*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.top-hider{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100vw;
    height: 70vh;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.1);
    backdrop-filter: blur(5px);
    position: absolute;
    top: -69.5vh;
    transition: all ease 1s;
}
.top-hider:hover{
    top: 0;
}
#clock{
    position: absolute;
    right: 90px;
    top: 20px;
    width: 180px;
    height:20px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}
.time-anim-cr-line{
    position: absolute;
    width: 230px;
    height: 50px;
    right: 40px;
    top: 70px;
    display: flex;
    justify-content: space-around;
}
.circle-line{
    /*width: 20px;*/
    height: 20px;
    background-color: #fff;
    border-radius: 20px;
    transition:all ease .5s;
}
.crl1{
    animation: circle-line-crl1  3s ease infinite alternate ;
}
.crl2{
    animation: circle-line-crl2  3s ease infinite alternate ;
}
.top-hider-nav{
    width: 700px;
    height: 100px;
    display: flex;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}
.top-hider-nav h1{
    color: #fff;
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
    margin-top: 7px;
    animation-duration: 3s;
}
.cr1{animation: top-hider-nav-circle-cr1   3s ease infinite alternate ;}
.cr2{animation: top-hider-nav-circle-cr2   3s ease infinite alternate ;}
.cr3{animation: top-hider-nav-circle-cr3   3s ease infinite alternate ;}
.cr4{animation: top-hider-nav-circle-cr4   3s ease infinite alternate ;}

.hider-text{
    position: absolute;
    width: 80vw;
    height: 50vh;
    left: 100px;

}
.katalog{
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid white;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    overflow: hidden;
    transition: all ease .5s;
}
.katalog-1{
    animation:hider-text-katalog-1 infinite ease reverse 20s ;
}
.katalog-2{
    animation:hider-text-katalog-2 infinite ease reverse 20s ;
}
.katalog-3{
    animation:hider-text-katalog-3 infinite ease reverse 20s ;
}




























@keyframes top-hider-nav-circle-cr1 {
    0%{transform: scale(1);opacity: 0;}
    10%{transform: scale(0.7);opacity: 1;}
    20%{transform: scale(1);opacity: 0;}
    55%{opacity: 1}
    90%{transform: translateX(20px); opacity: 0}
}
@keyframes top-hider-nav-circle-cr2 {
    0%{transform: scale(1);opacity: 0;}
    20%{transform: scale(0.7);opacity: 1;}
    30%{transform: scale(1);opacity: 0;}
    55%{opacity: 1}
    80%{transform: translateX(20px); opacity: 0}
}
@keyframes top-hider-nav-circle-cr3 {
    0%{transform: scale(1);opacity: 0;}
    30%{transform: scale(0.7);opacity: 1;}
    40%{transform: scale(1);opacity: 0;}
    55%{opacity: 1}
    70%{transform: translateX(20px); opacity: 0}
}
@keyframes top-hider-nav-circle-cr4 {
    0%{transform: scale(1);opacity: 0;}
    40%{transform: scale(0.7);opacity: 1;}
    50%{transform: scale(1);opacity: 0;}
    55%{opacity: 1}
    60%{transform: translateX(20px); opacity: 0}
}
@keyframes circle-line-crl1 {
   0%{
       width: 90%;
   }
    10%{
        width: 10px;

    }
    20%{
        width: 50%;
    }
    30%{
        width: 10px;
        transform: translateX(50px);
    }
    40%{
        width: 10px;
        transform: scale(1.1);
    }
    50%{
       transform: scale(0.001);
    }
    60%{
        width: 90%;
    }
    70%{
        width: 10px;
        transform: scale(1.5);
    }
    80%{
        width: 90%;
        height: 10px;
        transform: rotateX(-20deg);
    }
    90%{
        width: 90%;
        height: 10px;
        transform: rotateX(20deg);
    }
    100%{
        width: 10px;
    }
}
@keyframes circle-line-crl2 {
    0%{
        width: 10px;

    }
    10%{
        width: 90%;
    }
    20%{
        width: 50%;
    }
    30%{
        width: 10px;
        transform: translateX(-50px);
    }
    40%{
        width: 10px;
        transform: scale(1.1);
    }
    50%{
        width: 90%;
    }
    60%{
        transform: scale(0.001);
    }
    70%{
        width: 10px;
        transform: scale(1.5);
    }
    80%{
        width: 90%;
        height: 10px;
        transform: rotateX(20deg);
    }
    90%{
        width: 90%;
        height: 10px;
        transform: rotateX(-20deg);
    }
    100%{
        width: 10px;
    }
}

@keyframes hider-text-katalog-1 {
    1%{
        width: 30px;
        background-color: #fff;
    }
    2%{
        width: 500px;
        background-color: transparent;
    }
    93%{
        width: 500px;
        background-color: transparent;
    }
    100%{
        width: 30px;
        background-color: #fff;
    }
}

@keyframes hider-text-katalog-2 {
    2%{
        width: 30px;
        background-color: #fff;
    }
    4%{
        width: 900px;
        background-color: transparent;
    }
    94%{
        width: 900px;
        background-color: transparent;
    }

    100%{
        width: 30px;
        background-color: #fff;
    }
}

@keyframes hider-text-katalog-3 {
    3%{
        width: 30px;
        height: 30px;
        background-color: #fff;
    }
    6%{
        padding: 10px;
        width: 1600px;
        height: 350px;
        background-color: transparent;
    }
    95%{
        padding: 10px;
        width: 1600px;
        height: 350px;
        background-color: transparent;
    }
    100%{
        width: 30px;
        height: 30px;
        background-color: #fff;
    }
}
